// project overrides

ENABLE_USER_SCRIPT_SANDBOXING = NO
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_VERSION = 6.0

// enabling the below often gives me the error
// /path/to/file.swift:9:8: No such module '_SwiftData_SwiftUI'
// in apps that use SwiftData
// _EXPERIMENTAL_SWIFT_EXPLICIT_MODULES = YES
