/* Much of the ideas and some of the code shamelessly stolen from
	http://bluerobot.com/web/layouts/layout1.html
   Check it out */

/*
 * defaults for inherited attributes
 */
body {
	margin: 0px;
	padding: 0px;
	font-family: serif;
	font-size: 1.0em;
	background-color: #d0d0d0;
	color: black;
}

/*
 * Special handing for the page header
 */
#header {
	margin: 1.2em .5em .6em;
	padding: 0.5em;
	background-color: #d0d0d0;
}

#header a {
	  font-size: 2.0em;
}

/*
 * Special handling for the page menu
 */
#menu {
	position: absolute;
	top: 5.3em;
	left: 0.5em;
	border: 1px solid white;
	padding: 0.5em;
	width: 125px;
}

#menu a {
	font-size: 0.8em;
}

#menu p {
	line-height: 1.4em;
	margin: 0px;
	padding: 0px;
}

#menu ul {
	list-style-type: none;
	line-height: 1.4em;
	margin: 0px;
	padding: 0px;
}

#menu h2 {
	margin-top: 1.7em;
	padding: 0px;
	font-size: 120%;
}

#menu h3 {
	margin: .3em 0;
	padding: 0px;
	font-size: 110%;
	line-height: 110%;
}

#menu img {
	border-width: 0px;
	height: 9.2em;
	width: 4.4em;
}

/*
 * Special handling for the main section of the page.
 */
#main {
	font: 1.0em/1.2em serif;
	margin: 0.8em 0.5em 0em 160px;
	background-color: #e0e0e0;
}

#main h1 {
	margin: 1.0em 0em 0.5em 0em;
	padding: 0px 1em;
	font: 1.2em/1.8em sans-serif;
	background-color: #000066;
	color: #F5F5F5;
	clear: both;
}

#main h2 {
	margin: 0.8em 0em 0.1em 0.8em;
	padding: 0px;
	font: 1.4em/1.6em sans-serif;
	font-variant: small-caps;
	font-weight: 600;
}

#main h3 {
	margin: 0.8em 0em 0.5em 0.8em;
	padding: 0px;
	font: 1.2em/1.4em sans-serif;
	font-weight: 600;
}

#main h4 {
	margin: 0.8em 0em 0.5em 0.8em;
	padding: 0px;
	font: 1.0em/1.2em sans-serif;
	font-weight: 600;
}

#main h5 {
	margin: 0em;
	padding: 0px;
	font-weight: 700;
}

#main h6 {
	margin-left: 1.0em;
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	padding: 0px;
	font: 0.7em/0.8em sans-serif;
	font-weight: 400;
}

#main p {
	margin-left: 0.8em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
}

#main div+p {
	padding-top: 1.0em;
}

#main p+p, #main h2+p, #main h3+p, #main h4+p {
	margin-left: 0.8em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-indent: 2.0em;
}

#main p.noindent {
	margin-left: 0.8em;
	margin-top: 0.5em;
	margin-bottom: 0.1em;
	text-indent: 0;
}

#main p.block {
	margin-left: 4em;
	margin-right: 4em;
	text-indent: 2em;
}

/*
#main ul {
	padding-left: 0.8em;
	margin-left: 0.8em;
	margin-top: 0;
	margin-bottom: 0.1em;
}
*/

#main div {
	margin-left: 0.8em;
}

#main div+div, #main div div {
	margin-left: 0px;
}

#main img {
	border-width: 1px;
	margin: 0.3em;
}

#main table {
	margin: 0.8em;
}

#main pre {
	margin: 1.2em;
}

.half-left {
	width: 50%;
	float: left;
}

.half-right {
	width: 50%;
	float: right;
}

/*
 * Style for links
 */
a {
	text-decoration: none;
	font-family: sans-serif;
}
a:link { color: #0000ee; }
a:visited { color: #551a8b; }
a:hover { background-color: #00ff00; }

dl {
	font: 1.0em/1.2em serif;
	margin: 1.0em 0.7em 0px;
	/* padding: 10px; */
}

dt.red {
	color: #ff0000;
	font-size: 1.8em;
	font-weight: 600;
	margin-top: 0.7em;
	margin-bottom: 0.5em;
}

dt.h3 {
	margin: 0.8em 0em 0.5em 0.8em;
	padding: 0px;
	font: 1.2em/1.4em sans-serif;
	font-weight: 600;
}

dt.h4 {
	margin: 0.8em 0em 0.5em 0.8em;
	padding: 0px;
	font: 1.0em/1.2em sans-serif;
	font-weight: 600;
}

dt {
	font-size: 80%;
}

dd {
	margin: 0px 0px .8em 3.0em;
}

/*
 * SMBC title page image
 */
#smbc {
	float: left;
	margin-top: 1.0em;
	padding-bottom: 2.0em;
}

/*
 * Container for an image starting at the left margin
 */
div.newimage {
	clear: left;
	padding-right: 0.8em;
}

/*
 * Image with optional "caption"
 */
div.image {
	float: left;
	border: thin silver solid;
	margin: 0.5em 0.5em 2px 2px;
}

div.image p {
	font-style: italic;
	font-size: 10px;
}

/*
 * Classes for various common formatting changes
 */
.code {
	font-family: monospace;
	font-size: 0.9em;
	padding: 1px;
}

.clear { clear: both; }

/*
 * Classes for font attributes
 */
.strong { font-weight: 700; }

.larger { font-size: 1.4em; }

.smaller { font-size: 0.8em; }

.italic { font-style: italic; }

/*
 * classes for text decorations
 */
.strike { text-decoration: line-through; }

.underline { text-decoration: underline; }

/* Alignment */

.center { text-align: center; }

.bottom { vertical-align: bottom; }

.top { vertical-align: top; }

/*
 * Image possitioning
 */
img.left { float: left; }

img.right { float: right; }
